{% extends '_shared/_base_layout.html' %}
{% load i18n %}
{% load static %}
{% block ttile %}فراموشی رمز عبور{% endblock %}
{% block content %}


    <!-- breadcrumb-area start -->
    <div class="breadcrumb-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- breadcrumb-list start -->
                    <ul class="breadcrumb-list">
                        <li class="breadcrumb-item"><a href="{% url 'home:home' %}">{% trans "index" %}</a></li>
                        <li class="breadcrumb-item active">{% trans "forget password" %}</li>
                    </ul>
                    <!-- breadcrumb-list end -->
                </div>
            </div>
        </div>
    </div>
    <!-- breadcrumb-area end -->



    <!-- main-content-wrap start -->
    <div class="main-content-wrap section-ptb lagin-and-register-page">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-md-12 ml-auto mr-auto">
                    <div class="login-register-wrapper">
                        <!-- login-register-tab-list start -->
                        <div class="login-register-tab-list nav">
                            <a data-toggle="tab" href="#lg1">
                                <h4> {% trans "welocome to website" %} </h4>
                            </a>
                        </div>
                        <!-- login-register-tab-list end -->
                        <div class="tab-content">
                            <div id="lg1" class="tab-pane active">
                                <div class="login-form-container">
                                    <div class="login-register-form">
                                        <div class="login-input-box">
                                            <h5 class="text-center text-success">{% trans 'Email was send' %}</h5>
                                        </div>
                                        <p class="login-errors">{{ error }}</p>
                                        <div class="button-box">
                                            <div class="button-box">
                                                <a href="{% url 'accounts:login' %}" class="login-btn btn w-100" type="submit">
                                                    <span>{% trans "login" %}</span></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- main-content-wrap end -->

{% endblock %}