{% extends '_shared/_base_layout.html' %}
{% load i18n %}
{% load static %}
{% block ttile %}{% trans 'پروفایل' %}{% endblock %}
{% block content %}
    {% include '_shared/breadcrumb.html' with page_name='پروفایل' %}
    <!-- main-content-wrap start -->
    <div class="main-content-wrap section-ptb my-account-page">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="account-dashboard">
                        <div class="dashboard-upper-info">
                            <div class="row align-items-center no-gutters">
                                <div class="col-lg-3 col-md-12">
                                    <div class="d-single-info">
                                        <p class="user-name mb-1">{% trans 'Email' %}</p>
                                        <p>{{ user.email }}</p>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-12">
                                    <div class="d-single-info">
                                        <p class="user-name mb-1">{% trans 'Username' %}</p>
                                        <p>{{ user.username }}</p>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-12">
                                    <div class="d-single-info">
                                        <p class="user-name mb-1">{% trans 'Fullname' %}</p>
                                        <p>{{ user.get_full_name }}</p>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-12">
                                    <div class="d-single-info text-lg-center">
                                        <a href="cart.html" class="view-cart"><i class="fa fa-cart-plus"></i>مشاهده سبد
                                            خرید</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-lg-2">
                                <!-- Nav tabs -->
                                <ul role="tablist" class="nav flex-column dashboard-list">
                                    <li><a href="#dashboard" data-toggle="tab"
                                           class="nav-link active">{% trans 'dashboard' %}</a></li>
                                    <li><a href="#orders" data-toggle="tab"
                                           class="nav-link">{% trans 'buy history' %}</a></li>
                                    <li><a href="#account-details" data-toggle="tab"
                                           class="nav-link">{% trans 'edit profile' %}</a>
                                    <li><a href="#change-password" data-toggle="tab"
                                           class="nav-link">{% trans 'change password' %}</a>
                                    </li>
                                    <li><a href="{% url 'accounts:logout' %}" class="nav-link">{% trans 'logout' %}</a></li>
                                </ul>
                            </div>
                            <div class="col-md-12 col-lg-10">
                                <!-- Tab panes -->
                                <div class="tab-content dashboard-content">
                                    <div class="tab-pane active" id="dashboard">
                                        <h3>{% trans 'dashboard' %} </h3>
                                        <p>{% trans 'welcome to your profile...' %}</p>
                                    </div>
                                    <div class="tab-pane fade" id="orders">
                                        <h3>سفارشات</h3>
                                        <div class="table-responsive">
                                            <table class="table">
                                                <thead>
                                                <tr>
                                                    <th>سفارشات</th>
                                                    <th>تاریخ</th>
                                                    <th>وضعیت</th>
                                                    <th>جمع کل</th>
                                                    <th>مشاهده</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr>
                                                    <td>1</td>
                                                    <td>21 آذر 1398</td>
                                                    <td>در حال بررسی</td>
                                                    <td> 25,000 تومان برای 1 محصول</td>
                                                    <td><a href="cart.html" class="view">مشاهده</a></td>
                                                </tr>
                                                <tr>
                                                    <td>2</td>
                                                    <td> آذر 1398</td>
                                                    <td>در حال بررسی</td>
                                                    <td> 25,000 تومان برای 3 محصول</td>
                                                    <td><a href="cart.html" class="view">مشاهده</a></td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="account-details">
                                        <h3>{% trans 'Edit Profile' %}</h3>
                                        <div class="login">
                                            <div class="login-form-container">
                                                <div class="account-login-form">
                                                    <form method="post">
                                                        {% csrf_token %}
                                                        <p class="text-center">{% trans 'Edit Profile' %}</p>
                                                        <div class="account-input-box">
                                                            <label>{% trans 'firstname' %}</label>
                                                            <input value="{{ user.first_name }}" type="text"
                                                                   name="first-name">
                                                            <label>{% trans 'lastname' %}</label>
                                                            <input value="{{ user.last_name }}" type="text"
                                                                   name="last-name">
                                                            <label>{% trans 'username' %}</label>
                                                            <input value="{{ user.username }}" type="text"
                                                                   name="username">
                                                            <label>{% trans 'email' %}</label>
                                                            <input value="{{ user.email }}" type="email" name="email">
                                                            <label>{% trans 'phone number' %}</label>
                                                            <input type="text" placeholder=""
                                                                   value="{{ user.phone_number }}"
                                                                   name="phone-number">
                                                        </div>
                                                        <div class="button-box">
                                                            <button class="btn default-btn" type="submit">ذخیره</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="change-password">
                                        <h3>{% trans 'Change Password' %}</h3>
                                        <div class="login">
                                            <div class="login-form-container">
                                                <div class="account-login-form">
                                                    <form action="{% url 'accounts:change_password' user.id %}" method="post">
                                                        {% csrf_token %}
                                                        <p class="text-center">{% trans 'Change Password' %}</p>
                                                        <div class="account-input-box">
                                                            <label>{% trans 'old password' %}</label>
                                                            <input value="" type="text"
                                                                   name="old">
                                                            <label>{% trans 'new password' %}</label>
                                                            <input value="" type="text"
                                                                   name="new">
                                                            <label>{% trans 'confirm password' %}</label>
                                                            <input value="" type="text"
                                                                   name="confirm">
                                                        </div>
                                                        <div class="button-box">
                                                            <button class="btn default-btn"
                                                                    type="submit">{% trans 'save' %}</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- main-content-wrap end -->

{% endblock %}