{% extends '_shared/_base_layout.html' %}
{% load i18n %}
{% load static %}

{% block ttile %}ورود{% endblock %}
{% block content %}
    {% block footer_references %}
        <script src="{% static "js/custom_js/account/index.js" %}"></script>
    {% endblock %}

    <!-- breadcrumb-area start -->
    <div class="breadcrumb-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- breadcrumb-list start -->
                    <ul class="breadcrumb-list">
                        <li class="breadcrumb-item"><a href="{% url 'home:home' %}">{% trans "صفحه اصلی" %}</a></li>
                        <li class="breadcrumb-item active">{% trans "ورود - ثبت نام" %}</li>
                    </ul>
                    <!-- breadcrumb-list end -->
                </div>
            </div>
        </div>
    </div>
    <!-- breadcrumb-area end -->



    <!-- main-content-wrap start -->
    <div class="main-content-wrap section-ptb lagin-and-register-page">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-md-12 ml-auto mr-auto">
                    <div class="login-register-wrapper">
                        <!-- login-register-tab-list start -->
                        <div class="login-register-tab-list nav">
                            <a data-toggle="tab" href="#lg2">
                                <h4>{% trans "ثبت نام کاربر" %} </h4>
                            </a>
                        </div>
                        <!-- login-register-tab-list end -->
                        <div class="tab-content">
                            <div class="login-form-container">
                                <div class="login-register-form">
                                    <form action="{% url 'accounts:register' %}" method="post">
                                        {% csrf_token %}
                                        <div class="login-input-box">
                                            <input type="email" name="email" id="register-email"
                                                   placeholder="{% trans "ایمیل" %}">
                                            <p class="login-errors">{{ field_errors.email }}</p>

                                            <input type="text" name="username" id="register-username"
                                                   placeholder="{% trans "نام کاربری" %}">
                                            <p class="login-errors">{{ field_errors.username }}</p>

                                            <input type="password" name="password" id="register-password"
                                                   placeholder="{% trans "رمز عبور" %}">
                                            <p class="login-errors">{{ field_errors.password }}</p>

                                            <input type="password" name="password2" id="register-password2"
                                                   placeholder="{% trans "تکرار رمز عبور" %}">
                                            <p class="login-errors">{{ field_errors.password2 }}</p>

                                        </div>
                                        <div class="button-box">
                                            <button class="register-btn btn" type="submit">
                                                <span>{% trans "ثبت نام" %}</span>
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- main-content-wrap end -->

{% endblock %}