{% extends '_shared/_base_layout.html' %}
{% load render_partial %}
{% load static %}
{% load i18n %}
{% block title %}فروشگاه{% endblock %}
{% include '_shared/breadcrumb.html' with page_name='فروشگاه' %}

{% block content %}
    <!-- main-content-wrap start -->
    <div class="main-content-wrap shop-page section-ptb">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 order-lg-1 order-2">
                    <!-- shop-sidebar-wrap start -->
                    <div class="shop-sidebar-wrap">
                        <div class="shop-box-area">

                            <!--sidebar-categores-box start  -->
                            {% include 'components/products_list/categories_component.html' with categories=categories %}
                            {#                            {% render_partial 'products_module.views.CategoriesComponent' %}#}
                            <!--sidebar-categores-box end  -->

                            <!-- shop-sidebar start -->
                            <div class="shop-sidebar mb-30">
                                <h4 class="title">جستجو بر اساس قیمت</h4>
                                <!-- filter-price-content start -->
                                <div class="filter-price-content">
                                    <form>
                                        <div id="price-slider" class="price-slider"></div>
                                        <div class="filter-price-wapper">
                                            <button class="add-to-cart-button" type="submit">
                                                <span>فیلتر جستجو</span>
                                            </button>
                                            <div class="filter-price-cont">
                                                <span>قیمت:</span>
                                                <div class="input-type">
                                                    <input name="max-price" type="text" id="max-price"/>
                                                </div>
                                                <span>—</span>
                                                <div class="input-type">
                                                    <input name="min-price" type="text" id="min-price"/>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <!-- filter-price-content end -->
                            </div>
                            <!-- shop-sidebar end -->
                            {% include 'components/products_list/brands_component.html' with brands=brands %}
                        </div>
                    </div>
                    <!-- shop-sidebar-wrap end -->
                </div>
                <div class="col-lg-9 order-lg-2 order-1">

                    <div class="shop-banner mb-30">
                        <img src="{% static "images/bg/shop-catergorypage.jpg" %}" alt="Shop banner">
                    </div>

                    <!-- shop-product-wrapper start -->
                    <div class="shop-product-wrapper">
                        <div class="row align-itmes-center">
                            <div class="col">
                                <!-- shop-top-bar start -->
                                <div class="shop-top-bar">
                                    <!-- product-view-mode start -->

                                    <div class="product-mode">
                                        <!--shop-item-filter-list-->
                                        <ul class="nav shop-item-filter-list" role="tablist">
                                            <li><a class="active grid-view" data-toggle="tab" href="#grid"><i
                                                    class="ion-ios-keypad-outline"></i></a></li>
                                        </ul>
                                        <!-- shop-item-filter-list end -->
                                    </div>
                                    <!-- product-view-mode end -->
                                    <!-- product-short start -->
                                    <form>
                                        <div class="product-short">
                                            <p>مرتب‌ سازی بر اساس :</p>
                                            <select class="nice-select" name="sort-by" onchange="this.form.submit()">
                                                <option {% if sort_by == 'all' %}selected{% endif %}
                                                        value="all">همه
                                                </option>
                                                <option {% if sort_by == 'new' %}selected{% endif %} value="new">
                                                    جدیدترین
                                                </option>
                                                <option {% if sort_by == 'cheep' %}selected{% endif %} value="cheep">
                                                    ارزان‌ترین
                                                </option>
                                                <option {% if sort_by == 'expensive' %}selected{% endif %}
                                                        value="expensive">گران‌ترین
                                                </option>
                                            </select>
                                        </div>
                                    </form>
                                    <!-- product-short end -->
                                </div>
                                <!-- shop-top-bar end -->
                            </div>
                        </div>
                        <!-- shop-products-wrap start -->
                        <div class="shop-products-wrap">
                            <div class="tab-content">
                                <div class="tab-pane active" id="grid">
                                    <div class="shop-product-wrap">
                                        <div class="row row-8">
                                            {% if not products|length == 0 %}
                                                {% for product in products %}
                                                    {% include 'components/products_list/singel_product.html' with product=product %}
                                                {% endfor %}
                                            {% else %}
                                                <div class="alert alert-danger justify-content-center w-100 text-center"
                                                     role="alert">
                                                    {% trans 'Producs Not Found' %}
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- shop-products-wrap end -->

                        <!-- paginatoin-area start -->
                        <div class="paginatoin-area">
                            <div class="row">
                                <div class="col-lg-12 col-md-12">

                                    <ul class="pagination-box">
                                        {% if page_obj.has_previous %}
                                            <li>
                                                <a href="?page={{ page_obj.previous_page_number }}">&laquo; {% trans 'previous' %}</a>
                                            </li>
                                        {% endif %}
                                        <li class="active"><a href="#">{{ page_obj.number }}</a></li>
                                        {% if page_obj.has_next %}
                                            <li><a href="?page={{ page_obj.paginator.num_pages }}">{% trans 'last' %}
                                                &raquo;</a></li>
                                        {% endif %}

                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- paginatoin-area end -->
                    </div>
                    <!-- shop-product-wrapper end -->
                </div>
            </div>
        </div>
    </div>
    <!-- main-content-wrap end -->
{% endblock %}
