{% extends '_shared/_base_layout.html' %}
{% load i18n %}
{% load static %}
{% block ttile %}تماس با ما{% endblock %}
{% block content %}
    {% include '_shared/breadcrumb.html' with page_name='تماس با ما' %}
    <!-- main-content-wrap start -->
    <div class="main-content-wrap contact-wrap">
        <div class="contact-form-area section-ptb">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="contact-info-wrap">
                            <div class="contact-title mb-30">
                                <h3>تماس باما</h3>
                            </div>
                            <div class="contact-info-text">
                                <ul>
                                    <li>
                                        <div class="contact-title">
                                            <i class="fa fa-home"></i>
                                            <h4>آدرس ما</h4>
                                        </div>
                                        <p>{{ settings.address }}</p>
                                    </li>
                                    <li>
                                        <div class="contact-title">
                                            <i class="fa fa-phone"></i>
                                            <h4>شماره تلفن :</h4>
                                        </div>
                                        <p>موبایل : {{ settings.mobile }}<br>
                                            تلفن :{{ settings.phone_number }}
                                        </p>
                                    </li>
                                    <li>
                                        <div class="contact-title">
                                            <i class="fa fa-envelope-open-o"></i>
                                            <h4>ایمیل</h4>
                                        </div>
                                        <p>{{ settings.email }}<br>
                                            support@gmail.com</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-7 offset-lg-1">
                        <div class="contact-info-wrap">-
                            {% if success_message %}
                                <div class="alert alert-success" role="alert">
                                    {% trans success_message %}
                                </div>
                            {% endif %}

                            <div class="contact-title mb-30">
                                <h3>یک پیام برای ما بگذارید</h3>
                            </div>
                            <div class="contact-us-from-wrap">
                                <form class="contact-us-box" method="post">
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="single-input">
                                                <label> نام و نام خانوادگی</label>
                                                <input name="fullname" type="text">
                                            </div>
                                        </div>
                                        <p class="login-errors">{{ field_errors.fullname }}</p>

                                        <div class="col-lg-12">
                                            <div class="single-input">
                                                <label> ایمیل</label>
                                                <input name="email" type="email">
                                            </div>
                                        </div>
                                        <p class="login-errors">{{ field_errors.email }}</p>

                                        <div class="col-lg-12">
                                            <div class="single-input">
                                                <label>عنوان</label>
                                                <input name="subject" type="text">
                                            </div>
                                        </div>
                                        <p class="login-errors">{{ field_errors.subject }}</p>
                                        <div class="col-lg-12">
                                            <div class="single-input">
                                                <label>متن پیام</label>
                                                <textarea name="message"></textarea>
                                            </div>
                                        </div>
                                        <p class="login-errors">{{ field_errors.message }}</p>
                                        <div class="col-lg-12">
                                            <div class="single-input">
                                                <button class="submit-button submit-btn" type="submit">ارسال</button>
                                                <p class="form-messege"></p>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- main-content-wrap end -->
{% endblock %}