{% extends '_shared/_base_layout.html' %}
{% load thumbnail %}
{% load static %}
{% block title %}  صفحه اصلی {% endblock %}
{% block content %}
    <div class="main-wrapper">
        <!-- Hero Section Start -->
        <div class="hero-slider-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="categories-menu-wrap mt-30">
                            <div class="categories_menu">
                                <div class="categories_title">
                                    <h5 class="categori_toggle">دسته بندی ها</h5>
                                </div>
                                <div class="categories_menu_toggle">
                                    <ul>
                                        {% for parent_category in categories %}
                                            <li class="menu_item_children categorie_list">

                                                <a href="#">{{ parent_category.name }}<i
                                                        class="fa fa-angle-left"></i></a>

                                                <ul class="categories_mega_menu">
                                                    {% for category in parent_category.productcategory_set.all %}
                                                        <li>
                                                            <a href="{% url 'products:products_list' %}?&category={{ category.slug }}">{{ category.name }}</a>
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <div class="hero-slider-wrapper mt-30">
                            <!-- Hero Slider Start -->
                            <div class="hero-slider-area hero-slider-one">
                                <div class="swiper-container gallery-top">
                                    <div class="swiper-wrapper">
                                        {% for slide in slides %}
                                            {% thumbnail slide.image "690x425" crop="center" quality=70 as im %}
                                                <div class="swiper-slide"
                                                     style="background-image:url({{ im.url }})">
                                                    <div class="hero-content-one">
                                                        <div class="slider-content-text">
                                                            <h2>{{ slide.title }}<br>{{ slide.description }}</h2>
                                                            <p>پیشنهاد منحصر به فرد -20٪ تخفیف در این هفته </p>
                                                            <div class="slider-btn">
                                                                <a href="{% url 'products:products_list' %}?&category={{ slide.slug }}">خرید
                                                                    کن</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endthumbnail %}
                                        {% endfor %}


                                    </div>
                                    <div class="swiper-pagination"></div>
                                </div>
                                <div class="swiper-container gallery-thumbs">
                                    <div class="swiper-wrapper">
                                        {% for slide in slides %}
                                            <div class="swiper-slide">
                                                <div class="slider-thum-text"><span>{{ slide.title }}</span></div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <!-- Hero Slider End -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Hero Section End -->

        <!-- Categories Item Warap Start -->
        <div class="categories-item-warap section-pt-30 section-pb">
            <div class="container">
                <div class="row">
                    {% for product in latest_products|slice:":6" %}
                        <div class="col-lg-2 col-md-4 col-sm-4 col-6">
                            <!-- single-categories-item Start -->
                            <div class="single-categories-item mt-30">
                                <div class="cat-item-image">
                                    {% thumbnail product.image "150x113" crop="center" quality=70 as im %}
                                        <a href="#"><img src="{{ im.url }}" alt=""></a>
                                    {% endthumbnail %}

                                </div>
                                <div class="categories-title">
                                    <h6><a href="#">{{ product.name }}</a></h6>
                                    <p>11 محصول</p>
                                </div>
                            </div>
                            <!-- single-categories-item End -->
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <!-- Categories Item Warap End -->

        <!-- Banner Area Start -->
        <div class="banner-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="single-banner mb-30">
                            <a href="#"><img src="{% static "images/banner/banner-01.jpg" %}" alt=""></a>
                        </div>
                    </div>
                    <div class="col-lg-6  col-md-6">
                        <div class="single-banner mb-30">
                            <a href="#"><img src="{% static "images/banner/banner-02.jpg" %}" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Banner Area End -->

        <!-- Product Area Start -->
        <div class="product-area section-pt-30">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <!-- Section Title Start -->
                        <div class="section-title">
                            <h3>کالاهای موجود در فروشگاه</h3>
                        </div>
                        <!-- Section Title End -->
                    </div>
                </div>
                <div class="row row-8 product-two-row-4">
                    {% for product in latest_products|slice:":12" %}
                        <div class="product-col">
                            <!-- Single Product Start -->
                            <div class="single-product-wrap mt-10">
                                <div class="product-image">
                                    <a href="{{ product.get_absolute_url }}">
                                        {% thumbnail product.image "330x330" crop="center" quality=70 as im %}
                                            <img src="{{ im.url }}" alt="">
                                        {% endthumbnail %}
                                    </a>
                                    <span class="onsale">فروش ویژه!</span>
                                </div>
                                <div class="product-button">
                                    <a href="{{ product.get_absolute_url }}" class="add-to-wishlist"><i
                                            class="icon-heart"></i></a>
                                </div>
                                <div class="product-content">
                                    <div class="price-box">
                                        <span class="new-price">{{ product.price }} تومان</span>
                                    </div>
                                    <h6 class="product-name"><a href="product-details.html">{{ product.name }}</a></h6>

                                    <div class="product-button-action">
                                        <a href="#" class="add-to-cart">افزودن به سبد</a>
                                    </div>
                                </div>
                            </div>
                            <!-- Single Product End -->
                        </div>
                    {% endfor %}

                </div>

            </div>
        </div>
        <div class="our-brand-area section-pt-100 section-pb-100 brand-bg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="our-brand-active">
                            <div class="brand-group">
                                <div class="brand-item">
                                    <a href="#"><img src="{% static "images/brand/brand-01.png" %}" alt=""></a>
                                </div>
                                <div class="brand-item">
                                    <a href="#"><img src="{% static "images/brand/brand-03.png" %}" alt=""></a>
                                </div>
                            </div>
                            <div class="brand-group">
                                <div class="brand-item">
                                    <a href="#"><img src="{% static "images/brand/brand-02.png" %}" alt=""></a>
                                </div>
                                <div class="brand-item">
                                    <a href="#"><img src="{% static "images/brand/brand-04.png" %}" alt=""></a>
                                </div>
                            </div>
                            <div class="brand-group">
                                <div class="brand-item">
                                    <a href="#"><img src="{% static "images/brand/brand-03.png" %}" alt=""></a>
                                </div>
                                <div class="brand-item">
                                    <a href="#"><img src="{% static "images/brand/brand-01.png" %}" alt=""></a>
                                </div>
                            </div>
                            <div class="brand-group">
                                <div class="brand-item">
                                    <a href="#"><img src="{% static "images/brand/brand-04.png" %}" alt=""></a>
                                </div>
                                <div class="brand-item">
                                    <a href="#"><img src="{% static "images/brand/brand-03.png" %}" alt=""></a>
                                </div>
                            </div>
                            <div class="brand-group">
                                <div class="brand-item">
                                    <a href="#"><img src="{% static "images/brand/brand-06.png" %}" alt=""></a>
                                </div>
                                <div class="brand-item">
                                    <a href="#"><img src="{% static "images/brand/brand-03.png" %}" alt=""></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


