{% load render_partial %}
{% load static %}
<!doctype html>
<html class="no-js" lang="en">


<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <meta name="robots" content="noindex, follow"/>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href={% static "/images/favicon.ico" %}>

    <!-- CSS
	============================================ -->
    {% include '_shared/header_references.html' %}
    {% block header_refrences %} {% endblock %}

</head>

<body>
{#{% include '_shared/header.html' %}#}
{% render_partial 'home_module.views.HeaderComponent' %}

{% block content %}{% endblock %}
{% render_partial 'home_module.views.FooterComponent' %}
</body>

{% include '_shared/footer_references.html' %}
{% block footer_references %} {% endblock %}


</html>