    <script src="static/js/vendor/modernizr-3.6.0.min.js"></script>
    <!-- jQuery JS -->
    <script src="static/js/vendor/jquery-3.3.1.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="static/js/vendor/popper.min.js"></script>
    <script src="static/js/vendor/bootstrap.min.js"></script>

    <!-- Plugins JS -->
    <script src="static/js/plugins/slick.min.js"></script>
    <script src="static/js/plugins/swiper.min.js"></script>
    <script src="static/js/plugins/jquery.nice-select.min.js"></script>
    <script src="static/js/plugins/countdown.min.js"></script>
    <script src="static/js/plugins/image-zoom.min.js"></script>
    <script src="static/js/plugins/fancybox.js"></script>
    <script src="static/js/plugins/scrollup.min.js"></script>
    <script src="static/js/plugins/jqueryui.min.js"></script>
    <script src="static/js/plugins/ajax-contact.js"></script>


    <!-- Main JS -->
    <script src="static/js/main.js"></script>