{% load static %}
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="{% static "css/vendor/bootstrap.min.css"%}">
<!-- Icon Font CSS -->
<link rel="stylesheet" href="{% static "css/vendor/font-awesome.min.css"%}">
<link rel="stylesheet" href="{% static "css/vendor/plaza-font.css"%}">

<!-- Plugins CSS -->
<link rel="stylesheet" href="{% static "css/plugins/slick.css"%}">
<link rel="stylesheet" href="{% static "css/plugins/swiper.min.css"%}">
<link rel="stylesheet" href="{% static "css/plugins/animation.css"%}">
<link rel="stylesheet" href="{% static "css/plugins/nice-select.css"%}">
<link rel="stylesheet" href="{% static "css/plugins/fancy-box.css"%}">
<link rel="stylesheet" href="{% static "css/plugins/jqueryui.min.css"%}">


<!-- Main Style CSS (Please use minify version for better website load performance) -->
<link rel="stylesheet" href="{% static "css/style.css"%}">
<!--<link rel="stylesheet" href="assets/css/style.min.css">-->