{% extends '_shared/_base_layout.html' %}
{% load static %}
{% load i18n %}
{% block ttile %}درباره ما{% endblock %}

<!-- main-content-wrap start -->
{% block content %}
    {% include 'components/breadcrumb_component.html' with page_name='درباره ما' %}
    <div class="main-content-wrap">
        <div class="about-us-wlc section-pt section-pb">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="about-us-wrapper">
                            <div class="title text-center mb-30">
                                <h2>درباره ما</h2>
                            </div>
                            <div class="about-shop-image">
                                <img src="{% static 'images/other/about-us-banner1.jpg' %}" alt="">
                            </div>
                            <div class="about-welcome-text section-pt text-center">
                                <h2>ما یک سازمان غذائی با ارائه محتوا و تجربیات مفید هستیم.</h2>
                                <p class="welcome-dec">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
                                    استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان
                                    که
                                    لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود
                                    ابزارهای</p>
                                <div class="signature">
                                    <img src="{% static 'images/other/about-us-signature.png' %}" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="service-area section-pt section-pb-30 service-bg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <!-- single-service Start -->
                        <div class="single-service mb-20 text-center">
                            <div class="service-image">
                                <img src="{% static "images/icon/about-us-policy1.png" %}" alt="">
                            </div>
                            <div class="service-content mt-15">
                                <h5>طراحی خلاقانه</h5>
                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان
                                    گرافیک
                                    است.</p>
                            </div>
                        </div>
                        <!-- single-service End -->
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <!-- single-service Start -->
                        <div class="single-service mb-20 text-center">
                            <div class="service-image">
                                <img src="{% static "images/icon/about-us-policy2.png" %}" alt="">
                            </div>
                            <div class="service-content mt-15">
                                <h5>100% تضمین بازگشت پول</h5>
                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان
                                    گرافیک
                                    است.</p>
                            </div>
                        </div>
                        <!-- single-service End -->
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <!-- single-service Start -->
                        <div class="single-service mb-20 text-center">
                            <div class="service-image">
                                <img src="{% static "images/icon/about-us-policy3.png" %}" alt="">
                            </div>
                            <div class="service-content mt-15">
                                <h5>پشتیبانی 24/7</h5>
                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان
                                    گرافیک
                                    است.</p>
                            </div>
                        </div>
                        <!-- single-service End -->
                    </div>
                </div>
            </div>
        </div>


        <div class="mission-area section-pb section-pt-30">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <!-- single-mission Start -->
                        <div class="single-mission mt-30">
                            <div class="image-thum">
                                <img src="{% static "images/other/about-us-banner2-1.jpg" %}" alt="">
                            </div>
                            <div class="content mt-15 text-center">
                                <h4>ما چه کارهایی انجام می دهیم?</h4>
                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان
                                    گرافیک
                                    است.</p>
                            </div>
                        </div>
                        <!-- single-mission End -->
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <!-- single-mission Start -->
                        <div class="single-mission mt-30">
                            <div class="image-thum">
                                <img src="{% static "images/other/about-us-banner2-2.jpg" %}" alt="">
                            </div>
                            <div class="content mt-15 text-center">
                                <h4>مأموریت ما</h4>
                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان
                                    گرافیک
                                    است.</p>
                            </div>
                        </div>
                        <!-- single-mission End -->
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <!-- single-mission Start -->
                        <div class="single-mission mt-30">
                            <div class="image-thum">
                                <img src="{% static "images/other/about-us-banner2-3.jpg" %}" alt="">
                            </div>
                            <div class="content mt-15 text-center">
                                <h4>تاریخچه ما</h4>
                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان
                                    گرافیک
                                    است.</p>
                            </div>
                        </div>
                        <!-- single-mission End -->
                    </div>
                </div>
            </div>
        </div>

        <div class="faq-client-say-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="section-title mb-30">
                            <h3>چرا ما را انتخاب کرده اید ?</h3>
                        </div>
                        <div class="faq-style-wrap section-pb" id="faq-five">

                            <!-- Panel-default -->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h5 class="panel-title">
                                        <a id="octagon" class="collapsed" role="button" data-toggle="collapse"
                                           data-target="#faq-collapse1" aria-expanded="true"
                                           aria-controls="faq-collapse1">
                                            <span class="button-faq"></span>چطور درخواست خود را جهت مرجوعی کالا به شما
                                            اطلاع
                                            دهم؟</a>
                                    </h5>
                                </div>
                                <div id="faq-collapse1" class="collapse show" aria-expanded="true" role="tabpanel"
                                     data-parent="#faq-five">
                                    <div class="panel-body">
                                        <p>
                                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از
                                            طراحان
                                            گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم
                                            است و
                                            برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <!--// Panel-default -->

                            <!-- Panel-default -->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h5 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse"
                                           data-target="#faq-collapse2" aria-expanded="false"
                                           aria-controls="faq-collapse2">
                                            <span class="button-faq"></span>میتوانم سفارش خود را در محل پرداخت کنم؟</a>
                                    </h5>
                                </div>
                                <div id="faq-collapse2" class="collapse" aria-expanded="false" role="tabpanel"
                                     data-parent="#faq-five">
                                    <div class="panel-body">
                                        <p>
                                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از
                                            طراحان
                                            گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم
                                            است و
                                            برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <!--// Panel-default -->

                            <!-- Panel-default -->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h5 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse"
                                           data-target="#faq-collapse3" aria-expanded="false"
                                           aria-controls="faq-collapse3">
                                            <span class="button-faq"></span>شرایط کلی خرید و بازگرداندن کالای سوپر
                                            مارکتی به
                                            چه صورت است ؟</a>
                                    </h5>
                                </div>
                                <div id="faq-collapse3" class="collapse" role="tabpanel" data-parent="#faq-five">
                                    <div class="panel-body">
                                        <p>
                                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از
                                            طراحان
                                            گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم
                                            است و
                                            برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <!--// Panel-default -->

                            <!-- Panel-default -->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h5 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse"
                                           data-target="#faq-collapse4" aria-expanded="false"
                                           aria-controls="faq-collapse4">
                                            <span class="button-faq"></span>چطور میتوانم سفارشم را پیگیری کنم ؟</a>
                                    </h5>
                                </div>
                                <div id="faq-collapse4" class="collapse" role="tabpanel" data-parent="#faq-five">
                                    <div class="panel-body">
                                        <p>
                                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از
                                            طراحان
                                            گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم
                                            است و
                                            برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <!--// Panel-default -->
                        </div>

                    </div>
                    <div class="col-lg-6 col-md-6 ltr">
                        <div class="testimonials-area section-pb">
                            <div class="section-title mb-30">
                                <h3> مشتریان چه می گویند</h3>
                            </div>
                            <div class="row testimonial-two">
                                <div class="col-lg-12">
                                    <div class="testimonial-wrap-two text-center">
                                        <div class="quote-container">
                                            <div class="quote-image">
                                                <img src="{% static "images/testimonial/testimonial-01.jpg" %}" alt="">
                                            </div>
                                            <div class="author">
                                                <h6>نیلوفر</h6>
                                            </div>
                                            <div class="testimonials-text">
                                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
                                                    استفاده از
                                                    طراحان گرافیک است.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="testimonial-wrap-two text-center">
                                        <div class="quote-container">
                                            <div class="quote-image">
                                                <img src="{% static "images/testimonial/testimonial-02.jpg" %}" alt="">
                                            </div>
                                            <div class="author">
                                                <h6>سارا</h6>
                                            </div>
                                            <div class="testimonials-text">
                                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
                                                    استفاده از
                                                    طراحان گرافیک است.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
<!-- main-content-wrap end -->
